body {
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* variables */
:root {
    --primary-color: #f45c2c;
    --main-color: #293742cc;
    --secondary-color: #2c3b94;
    --text-head-color: #23282d;
    --text-paragraph-color: #222222;
}

.bg-primary {
    background-color: var(--primary-color);
    color: #fff
}


.button {
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
    transition: all ease 0.3s;
    cursor: pointer;
}

.button:hover {
    background-color: #fff;
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
}

.whatsapp-button {
    background-color: #25d366;
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
    transition: all ease 0.3s;
    cursor: pointer;
}

.whatsapp-button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.header {
    background: transparent;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all ease 0.3s;
}

#logo-img {
    width: 170px;
    height: 100px;
}

.text-head {
    color: var(--text-head-color);
}

.text-p {
    color: var(--text-paragraph-color);
}

.no-scrollbar ::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

nav ul li:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


.nav-underline {
    position: relative;
    transition: 0.3s ease-in-out;
}

.nav-underline:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
}

/* hero section style */
.hero-section {
    background: linear-gradient(to right, var(--secondary-color), var(--main-color));
    min-height: 100vh;
    width: 100%;
    position: relative;
}


.blink {
    animation: blink 2s infinite;
    display: inline-block;
}

.floating {
    animation: float 3s ease-in-out infinite;
}

.cta-button.show {
    animation: slideInLeft 0.5s ease-in-out;
    display: flex !important;
}

/* brands section styles */
.scrolling-wrapper {
    /* display: flex;
    width: max-content; */
    animation: scrollRight 20s linear infinite;
}

.row-2.scrolling-wrapper {
    animation: scrollLeft 20s linear infinite;
}

/* contact form styles */
.form-input:focus {
    outline: 1px solid var(--primary-color)
}

/* footer styles */
.footer {
    background-color: #30353a;
    padding: 0 0 20px;
}

.footer-icons i {
    background-color: #fff;
    border-radius: 50%
}

/* responsive styles */
@media screen and (max-width: 1335px) {
    .faq-container {
        max-width: 1190px;
    }
}

@media screen and (max-width: 1255px) {
    .faq-container {
        max-width: 1120px;
    }
}

@media screen and (max-width: 1248px) {
    header .navbar ul li {
        font-size: 14px
    }
}

@media screen and (max-width: 1212px) {
    .text-content {
        margin-top: 6%;
    }

    .hero-text {
        font-size: 24px;
        margin-top: 26px
    }

    .hero-text2 {
        font-size: 20px
    }
}

@media screen and (max-width: 1168px) {
    header .navbar #logo-img {
        width: 140px
    }

    header .navbar ul li {
        font-size: 11px
    }

    .hero-img {
        display: none;
    }

    .faq-container {
        max-width: 900px;
    }
}

@media screen and (max-width: 1155px) {
    .hero-section {
        height: 60vh !important;
        min-height: unset !important;
        overflow: hidden;
    }

    /* .hero-section>div {
        height: 100% !important;
    }

    @media screen and (min-width: 768px) {
        .hero-section>div {
            height: 100% !important;
        }
    } */
}

@media screen and (max-width: 1046px) {
    .number-nav {
        display: none;
    }

    .whatsapp-nav {
        display: block;
    }
}

/* ipad pro */
@media screen and (max-width: 1024px) and (min-height: 1366px) {
    .hero-section {
        height: 47vh !important;
        min-height: unset !important;
    }

    .hero-section>div {
        margin-top: 1.4rem;
    }

    .thankyou-section {
        height: 67vh !important;
        min-height: unset !important;
    }

    .thankyou-content {
        padding-bottom: 20rem;
    }
}

@media screen and (max-width: 1023px) {
    header .navbar {
        display: none;
    }

    header .mobile-navbar {
        display: block;
    }
}

@media screen and (max-width: 940px) {
    footer .footer-links {
        flex-direction: column;
    }

    footer .footer-links div {
        width: 100%;
    }
}

@media screen and (max-width: 912px) and (min-height: 1368px) {
    .thankyou-section {
        height: 45vh !important;
        min-height: unset !important;
    }
    .thankyou-content {
        padding-top: 7rem;
    }
}

/* ipad Air */
@media screen and (max-width: 821px) and (min-height: 1180px) {
    .hero-section {
        height: 51vh !important;
        min-height: unset !important;
        overflow: hidden
    }

    .hero-section>div {
        margin-top: 4rem;
    }

    .thankyou-section {
        height: 51vh !important;
        min-height: unset !important;
    }
    .thankyou-content{
        padding-top: 7rem;
    }

}

@media screen and (max-width: 796px) {
    header .navbar ul li {
        font-size: 8px
    }

    .hero-section {
        height: 80vh !important;
        min-height: unset !important;
        overflow: hidden;
    }
}



@media screen and (max-width: 768px) {
    #logo-img {
        width: 100px;
        height: 50px;
    }

    .hero-section {
        height: auto !important;
        /* min-height: unset !important; */
        overflow: hidden;
    }

}

/* ipad mini */
@media screen and (max-width: 768px) and (min-height: 1024px) {
    .hero-section {
        height: auto !important;
        padding: 50px 0;
    }

    .hero-section>div {
        margin-top: 3.2rem;
    }

    .thankyou-section {
        height: 65vh !important;
    }

    .thankyou-content {
        padding-top: 7rem;
    }
}

/* @media screen and (max-width: 768px) and (min-height: 698px) {
    .hero-section {
        height: 119vh !important;
    }
} */

@media screen and (max-width: 765px) {
    .hero-section {
        height: auto !important;
        /* min-height: unset !important; */
        overflow: hidden;
    }

    .scrolling-wrapper {
        animation: scrollRight 6s linear infinite;
    }

    .row-2.scrolling-wrapper {
        animation: scrollLeft 6s linear infinite;
    }
}

/* @media screen and (max-width: 768px) and (min-height: 698px) {
    .hero-section {
        height: 122vh !important;
    }
} */

@media screen and (max-height: 680px) {

    /* Reduce vertical padding */
    .hero-section {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* Resize hero image */
    .hero-section img {
        width: 1050px;
        height: auto;
    }

    .hero-section form {
        gap: 0.5rem;
    }

    .hero-section input,
    .hero-section select,
    .hero-section button {
        padding: 6px 10px;
        font-size: 14px;
    }

    .hero-section .text-xs {
        font-size: 10px;
    }
}

@media screen and (max-height: 625px) {
    .text-content {
        margin-top: 5%;
    }

    .hero-text {
        font-size: 24px;
    }

    .form-content {
        margin-top: 5%
    }
}

@media screen and (max-width: 431px) and (min-height: 932px) {
    .thankyou-section{
        height: 78vh !important;
        min-height: unset !important;
    }
}

@media screen and (max-width: 412px) and (min-height: 915px) {
    .thankyou-section{
        height: 78vh !important;
        min-height: unset !important;
    }
}

@media screen and (max-width: 393px) {
    .hero-section {
        height: 110vh !important;
        min-height: unset !important;
        padding-top: 50px;
    }

    .text-content {
        margin-top: 24px;
    }
}

@media screen and (max-width: 385px) {
    .hero-section {
        height: auto !important;
        /* min-height: unset !important; */
    }

    .hero-text {
        margin-top: 48px;
    }
}

@media screen and (max-width: 345px) {
    .hero-section {
        height: 110vh !important;
        min-height: unset !important;
    }
}

/* @media screen and (max-width: 625px) {
    .hero-section {
        height: 110vh;
    }
} */
/* @media screen and (max-width: 500px) {
    .hero-section {
        height: 120vh;
    }
} */

@keyframes scrollRight {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(50%);
    }
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}